.delete {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}
.AddExpense {
  margin-bottom: 2cm;
}
.saver {
  margin-bottom: 2cm;
}
