@import url(https://fonts.googleapis.com/css?family=Roboto:500,700);

html {
  min-height: 100%;
}

body {
  margin-top: 0;

  font: 500 1.2em/1.2 "Roboto", sans-serif;
}
.container1 {
  margin-top: 0px;
}

h1 {
  margin-top: 3cm;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.4);
  font-size: 1.8em;
  text-align: center;
}

.items {
  display: flex;
  flex-direction: column;
  padding: 20px;
  counter-reset: done-items undone-items;
}

h2 {
  position: relative;
  margin: 0;
  padding: 10px 0;
  font-size: 1.2em;
}

h2::before {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: -20px;
  width: 5px;
  background-color: #435757;
}

h2::after {
  display: block;
  float: right;
  font-weight: normal;
}

.done {
  order: 1;
}

.done::after {
  content: " (" counter(done-items) ")";
}

.undone {
  order: 3;
}

.undone::after {
  content: " (" counter(undone-items) ")";
}

/* hide inputs offscreen, but at the same vertical positions as the correpsonding labels, so that tabbing scrolls the viewport as expected */
.yeah {
  display: block;
  height: 53px;
  margin: 0 0 -53px -9999px;
  order: 4;
  outline: none;
  counter-increment: undone-items;
}

.love:checked {
  order: 2;
  counter-increment: done-items;
}

.love {
  display: block;
  position: relative;
  padding: 15px 0 15px 45px;
  border-top: 1px dashed #fff;
  order: 4;
  cursor: pointer;
  animation: undone 0.5s;
}

.love::before {
  content: "\f10c"; /* circle outline */
  display: block;
  position: absolute;
  top: 11px;
  left: 10px;
  font: 1.5em "FontAwesome";
}

.love:hover,
.yeah:focus + .love {
  background-color: rgba(255, 255, 255, 0.2);
}
.yeah:checked + .love {
  order: 2;
  animation: done 0.5s;
}

.yeah:checked + .love::before {
  content: "\f058"; /* circle checkmark */
}

@keyframes done {
  0% {
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.4);
    transform: translateY(20px);
  }
  50% {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.4);
  }
}

@keyframes undone {
  0% {
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.4);
    transform: translateY(-20px);
  }
  50% {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.4);
  }
}
